<template>
  <div id="app" class="app">
    <Navbar />
    <Header />
    <router-view/>
  </div>
</template>
<script>
import Navbar from '@/components/Nav'
import Header from '@/components/Header'
export default {
  components: {
    Navbar,
    Header
  }
}
</script>
<style lang="scss">
:root {
  --resman-blue: rgba(2, 116, 187, 1);
}

.app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  background-color: #f3f3f3;
}
</style>
