<template>
  <div class="item-list">
    <p class="list-header">Here is the full list of prizes that you can win.</p>
    <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 px-16 pb-16">
      <ItemList v-for="item in items"
                v-bind:key="item._id"
                v-bind:prize="item"
                v-bind:url="item.imgUrl" />
    </section>
  </div>
</template>

<script>
import ItemList from '@/components/ItemList'
export default {
  name: 'Home',
  components: {
    ItemList
  },
  data () {
    return {
      items: [],
      url: ''
    }
  },
  methods: {
    async getItems () {
      try {
        const { data } = await this.$http.get('/item/get-items')
        if (data) {
          this.items = data
          console.log('Successfully fetch items')
        }
      } catch (err) {
        const error = err.data
        console.log(error)
      }
    }
  },
  mounted () {
    this.getItems()
  },
  created () {
    this.getItems()
  }
}
</script>
<style lang="scss">
.item-list {
  @apply xl:container;
}

.list-header {
  @apply px-8 py-12;
  @apply text-lg text-center;
}
</style>
