<template>
  <header role="banner" class="banner">
    Rewards
  </header>
</template>
<script>
export default {
  name: 'Header'
}
</script>
<style lang="scss">
.banner {
  @apply flex items-center justify-center;
  @apply p-4;
  @apply h-40;
  @apply text-3xl text-white;
  @apply font-black;
  @apply bg-resman-blue;
}
</style>
