<template>
  <div class="item">
    <img class="item-img" :src="'../../'+url" :alt="url">
    <article class="prize-label">
    {{prize.name}}

    </article>
  </div>
</template>
<script>
export default {
  name: 'ItemList',
  props: {
    prize: Object,
    url: String
  }
}
</script>
<style lang="scss">
.item {
  @apply bg-white;
  @apply rounded-lg;
  @apply shadow-sm;

  .item-img {
    @apply rounded-tl-lg rounded-tr-lg;
    @apply object-cover object-center;
  }

  .prize-label {
    @apply flex items-center justify-center;
    @apply p-12;
    @apply text-lg text-gray-800;
    @apply font-black;
  }
}
</style>
