<template>
  <li class="item">
    {{prize.name}} <br>
    {{prize.description}} <br>
    {{prize.imgUrl}} <br>
    {{prize.quantity}} <br>
  </li>
</template>
<script>
export default {
  name: 'Item',
  props: {
    prize: Object
  }
}
</script>
