<template>
  <nav class="nav">
    <section class="grid grid-cols-2 gap-4">
      <div class="col-span-1">
        <img class="logo" src="../assets/resman-redeem-logo.png" alt="resman-redeem-logo">
      </div>
      <div class="col-span-1">
        <section class="user">
          <div class="user-image-container"></div>
          <p class="user-name">John Smith</p>
        </section>
      </div>
    </section>
  </nav>
</template>
<script>
export default {
  name: 'Navbar'
}
</script>
<style lang="scss">
  .nav {
    @apply bg-white;

    .grid {
      @apply px-9 py-6;
      @apply xl:container;

      .logo {
        @apply w-36;
      }

      .user {
        @apply flex;
        @apply justify-end items-center;
        @apply space-x-3;

        .user-image-container {
          @apply w-12;
          @apply h-12;
          @apply bg-gray-200;
          @apply rounded-full;
        }

        .user-name {
          @apply text-gray-800 text-sm;
          @apply font-bold;
        }
      }
    }
  }
</style>
